# Guided Capstone Step 6. Documentation

**The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.  Modeling

6.   **Documentation**
  * Review the Results
  * Finalize Code 
  * Finalize Documentation
  * Create a Project Report 
  * Create a Slide Deck for the Executive Audience

In this guided capstone we are going to revisit many of the actions we took in the previous guided capstone steps. This gives you the opportunity to practice the code you wrote to solve the questions in step 4 and 5.

**<font color='teal'> Start by loading the necessary packages and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [3]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [4]:
os.getcwd()

'/Users/josephfrasca/Coding Stuff/Springboard/GuidedCapstone'

## Fit Models with Training Dataset

**<font color='teal'> Using sklearn fit the model you chose in Guided Capstone 5 on your training dataset. This includes: creating dummy features for states if you need them, scaling the data,and creating train and test splits before fitting the chosen model.Also, remember to generate a model performance score(MAE, or explained variance) based on the testing hold-out data set.</font>**

#### Best Model

In [6]:
path= '/Users/josephfrasca/Coding Stuff/Springboard/GuidedCapstone/data'
os.chdir(path)

In [7]:
os.getcwd()

'/Users/josephfrasca/Coding Stuff/Springboard/GuidedCapstone/data'

In [8]:
os.listdir()

['.DS_Store',
 'data',
 'figures',
 'models',
 'step2_output.csv',
 'step3_output.csv',
 'updated_ski_data.csv']

In [16]:
df1 = pd.read_csv('step3_output.csv')
df.head()

,Unnamed: 0,Name,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,0,Alyeska Resort,3939,2500,250,1,0.0,0,2,2,...,0,0,0,0,0,0,0,0,0,0
1,1,Eaglecrest Ski Area,2600,1540,1200,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,Hilltop Ski Area,2090,294,1796,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,Arizona Snowbowl,11500,2300,9200,0,0.0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
4,4,Sunrise Park Resort,11100,1800,9200,0,0.0,0,1,2,...,0,0,0,0,0,0,0,0,0,0

In [17]:
dummy = pd.get_dummies(df1['state'])
dummy.head()

,Alaska,Arizona,California,Colorado,Connecticut,Idaho,Illinois,Indiana,Iowa,Maine,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df = pd.concat([df1, dummy], axis=1)
df.head()

,Unnamed: 0,Name,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,0,Alyeska Resort,Alaska,3939,2500,250,1,0.0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,1,Eaglecrest Ski Area,Alaska,2600,1540,1200,0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,Hilltop Ski Area,Alaska,2090,294,1796,0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,Arizona Snowbowl,Arizona,11500,2300,9200,0,0.0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Sunrise Park Resort,Arizona,11100,1800,9200,0,0.0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df = df.drop(columns=['state'])

In [21]:
df.head()

,Unnamed: 0,Name,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,0,Alyeska Resort,3939,2500,250,1,0.0,0,2,2,...,0,0,0,0,0,0,0,0,0,0
1,1,Eaglecrest Ski Area,2600,1540,1200,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,Hilltop Ski Area,2090,294,1796,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,Arizona Snowbowl,11500,2300,9200,0,0.0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
4,4,Sunrise Park Resort,11100,1800,9200,0,0.0,0,1,2,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df1.drop(['Name','AdultWeekend',  'state', 'summit_elev', 'base_elev'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [24]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [25]:
#all third model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [26]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

In [27]:
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_absolute_error
explained_variance_score(y_test, y_pred)

0.91946669018227

In [28]:
mean_absolute_error(y_test, y_pred)

5.547071875080901

In [29]:
print(lm.intercept_)

64.06600659899676

In [30]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
coef = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
coef.sort_values(by='Coefficient', ascending=False)

                   Coefficient
AdultWeekday         19.874196
averageSnowfall       1.913347
triple                1.461554
quad                  1.390124
Runs                  1.253968
Unnamed: 0            1.150592
daysOpenLastYear      1.051496
surface               1.045366
vertical_drop         0.973641
clusters              0.776563
total_chairs          0.694646
fastQuads             0.658790
NightSkiing_ac        0.455991
trams                 0.346197
SkiableTerrain_ac     0.328600
double                0.326477
yearsOpen             0.303346
fastSixes             0.222502
TerrainParks          0.160542
Snow Making_ac        0.129396
projectedDaysOpen     0.063753
LongestRun_mi         0.047125
fastEight             0.026315

## Review the results

**<font color='teal'> Now, let's predict the Big Mountain Weekend price with our model in order to provide a recommendation to our managers on how to price the `AdultWeekend` lift ticket. First we need to find the row for Big Mountain resort in our data using string contains or string matching.</font>**

In [0]:
#df[df['Name'].str.contains('Big Mountain')]

**<font color='teal'> Prepare the Big Mountain resort data row as you did in the model fitting stage.</font>**

**<font color='teal'> Predict the Big Mountain resort `Adult Weekend` price and print it out.</font>** This is our expected price to present to management. Based on our model given the characteristics of the resort in comparison to other ski resorts and their unique characteristics.

**<font color='teal'> Print the Big Mountain resort actual `Adult Weekend` price.</font>**

**<font color='teal'> As part of reviewing the results it is an important step to generate figures to visualize the data story. We can use the clusters we added to our data frame to create scatter plots for visualizing the Adult Weekend values compared to other characteristics. Run the example below to get you started and build two or three more figures to include in your data story telling.</font>**

In [0]:
#plt.scatter(df['summit_elev'], df['vertical_drop'], c=df['clusters'], s=50, cmap='viridis', label ='clusters')
#plt.scatter(ac['summit_elev'], ac['vertical_drop'], c='black', s=100)
#plt.xlabel('summit_elev')
#plt.ylabel('vertical_drop')
#plt.title('summit_elev by vertical_drop by cluster')
#plt.savefig('figures/fig1.png',bbox_inches='tight')

## Finalize Code

 Making sure our code is well organized and easy to follow is an important step. This is the time where you need to review the notebooks and Python scripts you've created and clean them up so they are easy to follow and succinct in nature. Addtionally, we will also save our final model as a callable object using Pickle for future use in a data pipeline. Pickle is a module that serializes (and de-serializes) Python objects so that they can become executable objects like functions. It's used extensively in production environments where machine learning models are deployed on an industrial scale!**<font color='teal'> Run the example code below to save out your callable model. Notice that we save it in the models folder we created in our previous guided capstone step.</font>**

In [0]:
#import pickle
#s = pickle.dumps(model)
#from joblib import dump, load
#dump(model, 'models/regression_model_adultweekend.joblib')

## Finalize Documentation

For model documentation, we want to save the model performance metrics as well as the features included in the final model. You could also save the model perfomance metrics and coefficients fo the other models you tried in case you want to refer to them later. **<font color='teal'> Create a dataframe containing the coefficients and the model performance metrics and save it out as a csv file, then upload it to your github repository.</font>**